html {
	font-size: 16px;
}

body {
	margin: 0 auto;
	font-family: Montserrat, Helvetica, Arial, sans-serif;
	font-size: 1em;
}

h1,
h3,
h4 {
	color: black;
	text-transform: uppercase;
}

h1 {
	font-size: 1.875em;
	text-align: center;
	width: auto;
	padding: 15px 0;
	padding-bottom: 20px;
	border-bottom: 3px solid #77a466;
}

h3 {
	font-size: 1.5em;
	text-align: left;
	padding: 15px;
	line-height: 25px;
	word-spacing: -2px;
}

h4 {
	font-size: 0.75em;
}

.main-title h3 {
	text-align: center;
	padding: 5px 0px;
	text-transform: uppercase;
	color: #77a466;
}

p {
	padding: 0px 30px;
	line-height: 21px;
	font-size: 0.875em;
}

/*The widths are in a percentage!*/
header {
	width: 90%;
	padding-left: 20px;
	padding-right: 20px;
}

header span {
	color: #77a466;
}

header nav {
	text-align: center;
	padding: 5px;
}

header nav a {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.875em;
	padding: 10px;
	color:#77a466;
	display: block;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	width: 90%;
	margin: 0 auto;
	clear: both;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1em;
}

.top-section h3 {
	text-align: center;

}

.top-section p {
	text-align: center;
}

.main-image {
	width: 100%;
	height: auto;
	float: left;
}

.main-image img {
	width: 100%;
	border-top: 3px solid #77a466;
	border-bottom: 3px solid #77a466;
	margin-bottom: 20px;
}

.main-title {
	width: 100%;
	height: auto;
	text-align: center;
}

.main-title p {
	line-height: 25px;
	font-size: 1em;
}

.menu {
	list-style: none;
	padding: 0px;
}

.menu li {
	padding: 5px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	line-height: 21px;
	font-size: 1em;
}

.address {
	font-size: 1em;
	line-height: 20px;
}

.main-title,
.reviews,
.section-one {
  border-bottom: 1px solid #77a466;
  padding-bottom: 15px;
}

footer {
	width: 100%;
	height: 50px;
	border-top: 3px solid #eee;
	margin: 0 auto;
	clear: both;
	text-align: center;
}

footer span {
	font-family: "Wisdom Script", script;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}

/***tablets*** will remain same as mobile so no changes in the css**/
@media only screen and (min-width: 768px) {
}

/*Desktops*/
@media (min-width: 940px) {

	/*The widths are in a percentage!*/
	body {
		margin: 0 auto;
		font-family: Montserrat, Helvetica, Arial, sans-serif;
		max-width: 1200px;
	}

	h1,
	h3,
	h4 {
		color: black;
		text-transform: uppercase;
	}

	h3 {
		font-size: 1.125em;
		text-align: center;
		padding: 15px;
	}

	h4 {
		font-size: 0.75em;
	}

	p {
		padding: 0px 30px;
		line-height: 21px;
		font-size: 0.875em;
	}

	/*The widths are in a percentage!*/
	header {
		width: 100%;
		height: 110px;
	}

	header h1 {
		font-size: 1.875em;
		float: left;
		border-bottom: none;
	}

	header span {
		color: #77a466;
	}

	header nav {
		float: right;
		padding: 45px 0px;

	}

	header nav a {
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 0.875em;
		padding: 0 10px;
		color:#77a466;
		display: inline;
	}

	/*The widths are in a percentage!*/
	.top-section,
	.bottom-section {
		width: 100%;
		margin: 0 auto;
		clear: both;
	}

	.main-image {
		width: 100%;
		height: auto;
	}

	.main-image img {
		width: 100%;
		border-bottom: 3px solid #77a466;
		border-top: 3px solid #77a466;
	}

	.main-title {
		width: 100%;
		height: auto;
		float: left;
		border-bottom: none;
	}

	.main-title h3 {
		border-bottom: none;
		text-align: left;
		padding: 5px 0px;
		text-transform: uppercase;
		color: #77a466;
	}

	.main-title p {
		text-align: left;
		padding: inherit;
	}

	.section-one,
	.section-two,
	.section-three {
		width: 33%;
		height: auto;
		float: left;
		border-top: 1px solid #eee;
		border-bottom: none;
		margin-top: -25px;
	}

	.section-one,
	.section-two {
		border-right: 1px solid #eee;
	}

	.section-one h4 {
		padding: 10px 0px;
	}

	.section-two h4,
	.section-three h4 {
		padding: 10px 30px;
	}

	.menu {
		list-style: none;
		padding: 0px;
	}

	.menu li {
		padding: 10px 0;
		color:#77a466;
	}

	.reviews {
		color: #333;
		line-height: 21px;
		font-size: 16px;
		border-bottom: none;
	}

	.address {
		font-size: 16px;
		line-height: 24px;
	}

	/*The widths are in a percentage!*/
	footer {
		width: 100%;
		height: 50px;
		border-top: 3px solid #eee;
		margin: 0 auto;
		clear: both;
		text-align: center;
	}

	footer span {
		font-family: "Wisdom Script", script;
		text-transform: lowercase;
		color: #77a466;
		font-size: 14px;
	}
}



/*The widths are in a percentage!*/
